
$primary-color: #6c676d;
$secondary-color: #6ae6d9;
$button-background: #41484e;
$button-text: #f7f7f7;
$primary-font-size: 3rem;
$secondary-font-size: 0.8rem;

//colors 
//primary colors
//Primary fonts 
//jqueary selectors
//store variables into its own scss sheet 
//partials