/* 
==============================================
CONTENT:	Plans Check Out page
AUTHOR:		Max Ambrogio
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use 'variables';
@use 'mixins';
//@use 'mixins';
//font-family: 'Bebas Neue', cursive;
//font-family: 'Titillium Web', sans-serif;
//font-family: 'Inter', sans-serif;
//font-family: 'Poppins', sans-serif;
//media 768px mobile

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(10, 10, 46);

	.identity{
		margin-left: 50px;
		display: flex;
		h1{
			font-family: 'Titillium Web', sans-serif;
			color: variables.$button-text;
			font-size: 2rem;	
		}

		@include mixins.bp-small{
			margin-left: 20px;

			h1{
					font-size: 1.5rem;
					padding-top: 20px;
					padding-bottom: 20px;
				}
		}
	}

	ul{
		@include mixins.bp-small{
			display: none;
		}

		display: flex;
		justify-content: space-evenly;
		margin-right: 50px;

		li{
			padding: 30px;
			a{
				text-decoration: none;
				color: variables.$button-text;
				font-family: 'Poppins', sans-serif;
				font-weight: 300;
				font-size: 1.2rem;
			}
			a:hover{
				color: variables.$secondary-color;
			}
		}
	}
	
	.mobile-header{
		@include mixins.bp-large{
			display: none;
		}
		@include mixins.bp-medium{
			display: none;
		}
		@include mixins.bp-small{
			display: block;
		}

		p{
			font-family: 'Poppins', sans-serif;
			font-weight: 600;
			color: variables.$button-text;
			font-size: 3rem;
			margin-right: 15px;
		}
	}
}

.plans-title{
	text-align: center;
	margin-top: 45px;

	h2{
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		color: rgb(10, 10, 46);
		font-size: variables.$primary-font-size;
		margin-bottom: 15px;
	}

	p{
		margin-bottom: 45px;
		font-family: 'Inter', sans-serif;
		font-size: variables.$secondary-font-size;
		font-weight: 300;
	}
}

.product-list{
	display: flex;
	justify-content: center;
	margin-bottom: 150px;

	@include mixins.bp-small{
		flex-direction: column;
		align-items: center;
	}

	.columns{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgb(232, 233, 250);
		width: 30%;
		margin: 20px;
		border-radius: 15px;

		@include mixins.bp-small{
			width: 70%;
		}

		h3{
			font-family: 'Bebas Neue', cursive;
			font-size: 3.5rem;
			margin-bottom: 20px;
			text-align: center;
			padding-top: 10px;
			margin-top: 15px;
		}

		p{
			font-family: 'Inter', sans-serif;
			font-size: variables.$secondary-font-size;
			font-weight: 400;	
			margin-bottom: 25px;
			text-align: center;
			margin-left: 20px;
			margin-right: 20px;
			line-height: 20px;
		}

		.price{
			font-family: 'Bebas Neue', cursive;
			font-size: 2.5rem;
			font-weight: 600;
			margin-top: 50px;
			margin-bottom: 10px;
			text-align: center;
		}

		.button-flex{
			text-align: center;
			padding-right: 30px;
			padding-left: 30px;
			padding-top: 30px;
			margin-bottom: 30px;

			.main-button{
				margin-right: 50px;
				padding: 10px;
				background-color: variables.$button-background;
				color: variables.$button-text;
				font-family: 'Inter', sans-serif;
				font-size: 1rem;
				font-weight: 600;
				border-radius: 10px;
			}

			.main-button:hover{
				transform: scale(1.1);
				transition: 0.5s;
			}

			a{
				text-decoration: none;
				font-family: 'Inter', sans-serif;
				font-weight: 400;
				font-size: .9rem;
				color: variables.$button-background;
			}
		}
	}
}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(10, 10, 46);
	height: 150px;
	position: relative;
	bottom: 0;
	width: 100%;

	.identity{
		margin-left: 50px;
		display: flex;

		@include mixins.bp-small{
			margin-left: 20px;
		}

		h1{
			font-family: 'Titillium Web', sans-serif;
			color: variables.$button-text;
			font-size: 20px;	
		}
	}

	.links{
		li{
			padding-bottom: 5px;
			padding-top: 5px;

			a{
			color: variables.$button-text;
			font-family: 'Poppins', sans-serif;
			padding-top: 5px;
			padding-bottom: 5px;
			text-decoration: none;	
			}

			a:hover{
				color: variables.$secondary-color;
			}

			@include mixins.bp-small{
				font-size: .8rem;
			}
		}
	}

	.copyright{
		margin-right: 30px;
		font-family: 'Inter', sans-serif;
		font-size: variables.$secondary-font-size;
		font-weight: 300;

		@include mixins.bp-small{
			margin-right: 15px;
		}
		
		a{
			text-decoration: none;
			color: variables.$button-text;

			@include mixins.bp-small{
				font-size: .7rem;
			}
			
		}


	}
			


}