/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';
@use 'variables';
//@use 'mixins';

$hotpink: hotpink;
//colors 
//primary colors
//Primary fonts 
//jqueary selectors
//store variables into its own scss sheet 
//partials

//3 or 4 levels of nesting

.floating-box{
	color: variables.$hotpink;
}